# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*~

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
report.xml

# Sphinx documentation
docs/_build/
doc/build/

# PyBuilder
target/

venv
*.sw[po]

# pyCharm IDE 
.idea/

# builds
dist/
build/
*.egg-info/
