language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"

# command to install dependencies
install:
  - "pip install ."
  - "pip install -r test-requirements.txt"

# command to run tests
script: "py.test -s -v --junitxml=report.xml"

after_success:
  - codecov
